* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 36px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 110px 260px;
    gap: 100px;
}

.hero-text {
    flex: 1;
}

.hero-text > h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text > p {
    font-size: 18px;
    /* font-weight: 400; */
    color: #e5e7eb;
}

.hero-text button {
    background-color: #3882f7;
    padding: 10px 40px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 8px;
}

#hero-image {
    height: 250px;
    background-color: #808080;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-image p {
    color: white;
    font-size: 18px;
}

#info {
    display: flex;
    flex-direction: column;
}

#info h1 {
    text-align: center;
    margin: 48px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-images {
    display: flex;
    justify-content: center;
    gap: 48px;
    /* margin: 0px 300px; */
}

.img-container {
    display: flex;
    flex-direction: column;
    width: 170px;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}

.img-container p {
    font-size: 18px;
    color: rgb(108, 105, 105);
    font-weight: 500;
}

.info-images .img {
    border: 4px solid #3882f7;
    border-radius: 15px;
    height: 170px;
}

.quote {
    background-color: #e5e7eb;
    margin: 150px 0px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    padding: 120px 350px;
    /* display: flex;
    flex-direction: column; */
}

.quote .thor {
    text-align: end;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}

.action-card {
    margin: -50px 250px 100px;
    background-color: #3882f7;
    padding: 50px 100px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.action-card h2 {
    font-size: 24px;
    color: white; 
}

.action-card p {
    font-size: 18px;
    color: #e5e7eb;
}

.action-card button {
    background-color: #3882f7;
    padding: 10px 40px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
    border: 3px solid whitesmoke;
    border-radius: 8px;
}